<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>website</title>
</head>
<style background="">
</style>
<body bgcolor="#e6e6fa">

<h1>             HELLO      </h1>
<h2>        welcome to our website     </h2>

<button onclick="document.location= 'www.youtube.com/@mr.surendrasinghkurmi8295'"> OUR YOUTUBE CHANNEL 👋</button>
<table border="3" width="100%" height="700px" >

<tr>
<th> <font face="Monoton" > GajjuBhaiya.in </font></th>
  <!-----Raw1----->
<th></th>
  <th></th>
<th> <a href="#">HOME </a></th>
<th> <a href="#"> CONTECT US </a></th>
<th> <a href="#">ABOUT US </a></th>
</tr>
  <!--------Raw2------>
  <tr>
    <th colspan="6">
      <font color="#ff1493" face="Helvitca">
      <h1> Welcome to our Website </h1>
      </font>
    </th>

  </tr>
<!------Raw3------>
  <tr>
    <th colspan="6">
      <font size="10" color="#8b0000" >Subscribe Now 👍
        <br>
        <button onclick="document.location= 'www.youtube.com/@mr.surendrasinghkurmi8295'">OUR YOUTUBE CHANNEL 👋 </button></font>
    </th>

  </tr>
<!---------Raw4---------->
  <tr>
    <th colspan="6"> <font size="8" color="blue" > ✐ This is the website where we can explore the whole world</font>
    </th>

  </tr>

  <!--------------Raw5------>
  <tr>
    <th colspan="6" > <font size="5" color="#696969"  ><br> ☞ Hello the site was only exploring some places </font>

<br>
      <li>Most hounted place in the world</li>
      <li>Snowfall place in the world</li>
      <li>Largest waterfall in the world</li>
      <li>Hills Station in the world</li>
    </th>


  </tr>
<tr>
  <th colspan="6"> <font size="4" color="#00008b" > thankyou for visiting our website   </font>
    <br>
  <hi> Thanyou </hi>
    <br>
    <h1>*------👋👋-----*</h1>
    <h1>♥️♥️♥️♥️♥️</h1>
    <br>

    <h1> <font size="8">*=============================================* </font>
    </h1>
  </th>

</tr>
  <tr>
    <th colspan="6" > <font size="8" color="fuchsia"> SECOND PAGE OF OUR WEBSITE </font>
    <h1>this site was very secure for everyone</h1>
      <h1>purpose of makeing website is to visit all exploring places</h1>



    </th>

  </tr>
</table>


</body>
</html>