<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form method="post" action="/save">
    <label>Name of Student</label>
    <input type="text" name="name">
    <lable>Hindi</lable>
    <input type="number" name="hindi">
    <label>English</label>
    <input type="number" name="English">
    <label>Maths</label>
    <input type="number" name="maths">
    <label>Science</label>
    <input type="number" name="science">
    <label>Art</label>
    <input type="number" name="art">
    <label>Computer</label>
    <input type="number" name="computer">
    <label>Total</label>
    <input type="number" name="total">
    <label>Percentage</label>
    <input type="number" name="percentage">
    <lable>Result</lable>
    <input type="number" name="result">
    <input type="submit">

</form>
</body>
</html>